<html>
<head>
       <title>Medical health Insurance</title>
</head>
<body>
<center>
<h1> Medical Health Insurance Form</h1>
</center>
<p><b><h3>User Name:</h3></b></p>
<input type="text" name="User_name" placeholder="Enter Name"/>

<p><b><h3>Age: </h3></b></p>
<input type="text" name="Age" placeholder="Age"/>

<p><b><h3>Sex: </h3></b></p>
<input type="radio" name="gender" value="male"/>Male
<input type="radio" name="gender" value "female"/>Female

<p><b><h3>BMI: </h3></b></p>
<input type="text" name="BMI" placeholder="BMI"/>

<p><b><h3>Children: </h3></b></p>
<input type="text" name="child" placeholder=0 />

<p><b><h3>Smoker: </h3></b></p>
<input type="radio" name="smoker" value="yes"/>Yes
<input type="radio" name="smoker" value "no"/>No

<p><b><h3>Region: </h3></b></p>
<select name="Region">
	<option value= "Region_Northeast"> Region_Northeast </option>
	<option value= "Region_Northwest"> Region_Northwest </option>
	<option value= "Region_Southeast"> Region_Southeast </option>
	<option value= "Region_Southwest"> Region_Southwest </option>

</select>
<br><br><button type="submit">Charges Calculator</button></br></br>
</body>
</html>